
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

/* container 1 Starts */
.container{
    
    height: 100vh;

}

.header a{
    color: white;
    font-size: 40px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 10vh;
}

.navLinks{
    display: flex;
    gap: 20px;
    width: 30%;
    margin: 50px;
}

.navLinks a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}



#contact{
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(0, 0, 0);
    border: black;
    appearance: none;
}

.about h3{
    color: white;
    text-decoration: none;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-right: 610px;
}
.about span{
    color: white;
    text-decoration: none;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-right: 850px;
    font-weight: bolder;
}

.about p{
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-right: 80px;
    margin-top: 20px;
}

/* container 1 ends */

.container2{

    height: 100vh;
    
}

.aboutSection h3 {
    display: flex;
    
    color: white;
    font-size: 50px;
    margin-left: 100px;
    padding-top: 30px;
}

.aboutDisc{
    color: white;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
}

.aboutSkills p{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    
}

.aboutSkills{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 100px;
    gap: 60px;
    margin-bottom: 40px;
}

.aboutSkills p:hover{
    transform: scale(1.08);
    transition: all 0.3s ease;
    cursor: pointer;
    background: #B7DEED;
    background: linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#s1{
    color: rgb(189, 42, 42);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin-left: 100px; 
}

.s1{
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin-left: 100px; 
}

.skillContent{
    flex-direction: row;
    row-gap: 10px;
    
}

.skillls{
    display: none;
}
.skillContentUL li{
    padding-top: 20px;
}


.container3{
    height: 100vh;
}

.container3 h3{
    color: white;
    text-decoration: none;
    font-size: 70px;
    display: flex;
    margin-left: 100px;
    padding-top: 30px;
}

.Front-End{
    max-width: 500px;
    height: 100px;
    background-color: white;
}

.active1{
    display: block;
}

.design1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding: 0px 20px;
    border: 1px solid white;
    border-radius:15px;
}

.design1:hover{
    transform: scale(1.08);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.476);
}



.serviceSection{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 100px;
    margin-top: 80px;

}

.design1 p{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
}

.design1 h2{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
}

.design2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding: 0px 20px;
    
    border: 1px solid rgb(255, 253, 253);
    border-radius:15px;
}

.design2 p{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
}

.design2 h2{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
}

.design2:hover{
    transform: scale(1.08);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.476);
}

.design3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding: 0px 20px;
    border: 1px solid white;
    border-radius:15px;
}

.design3 p{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
}

.design3 h2{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
}

.design3:hover{
    transform: scale(1.08);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.476);
}



@keyframes appears {

    from{
        opacity: 0;
        scale: 0.7;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.container, .container2, .container3, .container4, .container5 { 
    animation: appears linear;
    animation-timeline: view();
    animation-range:  entry 0% cover 40%;
}

.projects{
    display: flex;
    gap: 50px;
    margin-right: 200px;
}

.container4{
    height: 100vh;

}

.container4 h3{
    color: white;
    text-decoration: none;
    font-size: 70px;
    display: flex;
    margin-left: 100px;
    padding-top: 30px;
    margin-bottom: 100px;
}
   

.project1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 500px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.453);
    border-radius: 15px;
    margin-bottom: 10px;
    color: white;
    background-image: linear-gradient(to top, #09203f 0% , #537895 100%);
    background-size: cover;
    font-size: 20px;
}
.project1 p{
    margin-top: 30px;
}
.project1 h4{
    font-size: 26px;
}

.project1:hover{
    transform: scale(1.08);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgb(212, 54, 54);
    border: none;
}

.project2{
    height: 500px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.453);
    border-radius: 15px;
    margin-bottom: 10px;
    color: white;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-size: cover;
    font-size: 20px;
    padding: 20px;
}
.project2 p{
    margin-top: 30px;
}
.project2 h4{
    font-size: 26px;
}


.project2:hover{
    transform: scale(1.08);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgb(5, 134, 52);
    border: none;
}

.project3{
    height: 500px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.453);
    border-radius: 15px;
    margin-bottom: 10px;
    color: white;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-size: cover;
    font-size: 20px;
    padding: 20px;
}
.project3 p{
    margin-top: 30px;
}
.project3 h4{
    font-size: 26px;
}


.project3:hover{
    transform: scale(1.08);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgb(40, 72, 199);
    border: none;
}

.projects{
    margin-left: 100px;
}

h4{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
}



.container5{
    height: 100vh;
}

.container5 h3{
    color: white;
    text-decoration: none;
    font-size: 70px;
    display: flex;
    margin-left: 100px;
    padding-top: 80px;
    margin-bottom: 100px;
}

.container5 p{
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-left: 100px;
}

.container5 span{
    color: rgb(167, 165, 165);
    font-size: 20px;
    margin-left: 100px;

}

.container5 a{
    color: rgb(167, 165, 165);
    font-size: 20px;
}

.emailing{
    margin-top: 5px;
}

#text{
    margin-top: 20px;
    color: rgb(167, 165, 165);
    font-size: 20px;
    font-weight: 600;
    margin-left: 100px;
}

#contact_me{
    display: flex;
    gap: 250px;
    padding-bottom: 40px;
}

#forms{
    border: 1px solid white;
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border:1px solid rgb(78, 78, 78) ;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.18);
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#forms h4{
    font-size: 40px;
    margin-bottom: 20px;
}

#username{
    padding: 10px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background: rgb(78, 78, 78);
    color: white;
}

.emailing{
    margin-top: 100px;
}

#email{
    padding: 10px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background: rgb(78, 78, 78);
    color: white;
}

#project_desc{
    font-size: 14px;
}

#desc{
    margin-left: 40px;
    padding: 10px;
    width: 80%;
    height: 200px;
    border-radius: 10px;
    background: rgb(78, 78, 78);
    color: white;
}

.submit{
    height: 40px;
    width: 100px;
    border-radius: 15px;
    margin-left: 40px;
    background-color: #21B4E2;
}


.submit:hover{
    transform: scale(1.08);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #09203f;
    border: none;
}





/* media query for container 1 */

@media(max-width:1560px){
    .navLinks{
        margin-right: 200px;
    }

    .about{
        margin-left: 100px;
    }
}
@media(max-width:1560px){
    .about h3{
        margin-top: 100px;
        width: 704px;
    }

    .about span{

        width: 466px;
    }
}

@media(max-width:820px){
    .about{
        margin-left: 50px;
    }
}

/* media query for container 2 */

@media(max-width:850px){
    #aboutSection{
        margin-right: 60px;
    }
}

/* media query for container 3 */

@media(max-width:1560px){
    .serviceSection{
        margin-right: 100px;
    }
}

@media(max-width:1100px){
    
    .serviceSection p{
        font-size: 20px;
    }
    .design1{
        height: 400px;
    }
    .design2{
        height: 400px;
    }
    .design3{
        height: 400px;
    }
}

@media(max-width:900px){
    
    .serviceSection p{
        font-size: 18px;
    }
    .design1{
        height: 380px;
    }
    .design2{
        height: 380px;
    }
    .design3{
        height: 380px;
    }
}

@media(max-width:800px){
    
    .serviceSection p{
        font-size: 16px;
    }

    .serviceSection{
        margin-left:60px ;
    }

    .serviceSection h2{
        font-size: 20px;
        margin-left:60px ;
    }

    .container3 h3{
        font-size: 50px;
    }
    .design1{
        padding: 10px;
        width: 190%;
        height: 300px;
    }
    .design2{
        width: 190%;
        height: 300px;
        padding: 10px;
    }
    .design3{
        width: 190%;
        height: 300px;
        padding: 10px;
    }
}



/* media query for container 4 */

@media(max-width:1560px){
    .projects{
        margin-right: 100px;
    }
    p{
        font-size: 18px;
    }
    .project1{
        height: 450px;
    }
    .project2{
        height: 450px;
    }
    .project3{
        height: 450px;
    }
}

@media(max-width:1200px){
    .projects{
        margin-right: 100px;
    }
    p{
        font-size: 16px;
    }
    .project1{
        height: 400px;
    }
    .project2{
        height: 400px;
    }
    .project3{
        height: 400px;
    }
}

@media(max-width:1100px){
    .projects{
        margin-right: 100px;
    }
    p{
        font-size: 14px;
    }
    .project1{
        height: 380px;
    }
    .project2{
        height: 380px;
    }
    .project3{
        height: 380px;
    }
}

@media(max-width:1000px){
    .projects{
        margin-right: 100px;
        gap: 20px;
    }
    .projects h4{
        font-size: 22px;
        padding-top: 10px;
    }
    .project1{
        height: 360px;
        padding: 2;
        width: 600px;
    }
    .project2{
        height: 360px;
        padding: 2;
        width: 600px;
    }
    .projects p{
        margin-top: 10px;
  
    }
    .project3{
        height: 360px;
        padding: 2;
        width: 600px;
    }
    .project3 p{
        margin-top: 36px;
  
    }
}

@media(max-width:900px){
    .projects{
        margin-right: 100px;
        gap: 20px;
    }
    .projects h4{
        font-size: 20px;
        padding-top: 1px;
    }
    .project1{
        height: 350px;
        padding: 5;
        width: 600px;
        
    }
    .project2{
        height: 350px;
        padding: 5;
        width: 600px;
    }
    .project2 p{
        margin-top: 20px;
    }
    .project3{
        height: 350px;
        padding: 5;
        width: 600px;
    }
}

@media(max-width:800px){
    .projects{
        margin-left: 60px;
        gap: 20px;
    }
    .projects h4{
        font-size: 20px;
        padding-top: 1px;
    }
    .container4 h3{
        font-size: 50px;
        margin-left:60px ;
    }
    .project1{
        height: 350px;
        padding: 5;
        width: 150%;
        
    }
    .project2{
        height: 350px;
        padding: 5;
        width: 150%;
    }
    .project2 p{
        margin-top: 10px;
    }
    .project3{
        height: 350px;
        padding: 5;
        width: 150%;
    }
}






/* media query for container 5 */
@media(max-width:1100px){
    #forms{
        margin-right: 100px;
        width: 480px;
    }

    #contact_me{
        gap: 100px;
    }
}
@media(max-width:1000px){
    .emailing a{
        margin-left: 100px;
    }
}

@media(max-width:820px){
    #forms{
        margin-right: 20px;
        width: 600px;
        padding: 10px;
    }

    #contact_me{
        gap: 100px;
    }
    .emailing{
        margin-top: 10px;
    }
}

@media(max-width:770px){
    #forms{
        margin-right: 20px;
        width: 600px;
        padding: 10px;
    }
    #forms h4{
        font-size: 30px;
    }

    .container5 h3{
        font-size: 50px;
    }

    #contact_me{
        gap: 100px;
    }
    .emailing p{
        font-size: 40px;
    }
    #text{
        font-size: 16px;
    }
    .emailing span{
        font-size: 16px;
    }
    .emailing a{
        font-size: 16px;
    }

}





