*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.inner{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid  rgba(0, 0, 0, 0.349);
    height: 400px;
    padding: 20px;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.349);
    gap: 15px;
}

.inner button{
    background-color: rgba(0, 0, 0, 0.331);
    height: 28px;
    width: 200px;
    border-radius: 7px;
    color: white;

}

.inner a{
    color: white;
    padding: 5px;
    text-decoration: none;
}

.button:hover{
    transform: scale(1.09);
    transition: 200ms ;
    cursor: pointer;
}



body{
    background-image: url(assets/clay-banks-u27Rrbs9Dwc-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}